@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html,
body,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: #1f2026;
    margin: 0;
    /* background: linear-gradient(45deg, #19357c 30%, #7184b8 90%); */
    /* background-color: #001e8e; */
}